/* Smooth scroll */
body {
  scroll-behavior: smooth;
}

/* 🕷️ Spider-Man */
.spiderman {
  position: fixed;
  top: 120px;
  left: 20px;
  width: 70px;
  z-index: 1000;
  pointer-events: none;
}

/* 🕸️ Web */
#web-line {
  position: fixed;
  top: 0;
  width: 2px;
  background: white;
  z-index: 999;
}

.spidey-title {
  font-family: 'Bangers', cursive;

  font-size: clamp(100px, 14vw, 180px); /* BIG */
  color: #ff1a1a;

  white-space: nowrap; /* force one line */

  transform: skewX(-10deg) scaleX(0.9); /* compress width */

  -webkit-text-stroke: 3px black;

  text-shadow:
    5px 5px 0 black,
    10px 10px 0 black;

  letter-spacing: 2px;
}

.comic-subtitle {
  font-family: 'Bangers', cursive; /* same comic font */

  font-size: 18px;
  color: #ffd84d;

  letter-spacing: 6px;

  transform: skewX(-10deg);

  -webkit-text-stroke: 1px black;

  text-shadow: 2px 2px 0 black;
}